# Prevent Terraform state files from being committed
*.tfstate
*.tfstate.backup

# Optional: exclude Terraform working directory and crash logs
.terraform/
.github/workflows/
crash.log


ranking-logic/.venv/