@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://db.onlinewebfonts.com/c/7e96eba370659b4e4563309dc4ebb33f?family=Samarkan+Normal+V2");

/* Light Mode Variables Only */
:root {
  /* Primary Color Changed to Provided Color */
  --primary: #f2d2b6;
  --primary-dark: #dcbea5;
  --primary-light: #fadcc3;
  --primary-lighter: #f5d7be;

  /* Saffron/Gold Colors */
  --secondary: #f5c800;
  --secondary-light: #ffec97;
  --secondary-dark: #dfa800;
  --accent: #f39800;
  --success: rgba(242, 210, 182, 1);
  --warning: #f14c11;

  /* Survey Layout colours */
  --survey-bg: #f5c800;

  /* Header specific colors */
  --header-bg: #f2d2b6;
  --header-primary: #ff4500;
  --header-subtitle: #ffffff;
  --header-accent: #f5c800;

  /* Header button colours */
  --btn-active-text: #ffffff;
  --btn-inactive-text: #2563eb;

  /* Sidebar specific colors */
  --progress-text: #000000;
  --progress-number: #2563eb;
  --progress-bar-from: #042aff;
  --progress-bar-to: #5a89f0;
  --levelquestion-active-bg: #aee3f8;
  --levelquestion-active-border: #ff4500;
}

body {
  font-family: "Inter", sans-serif;
}
.devanagari-text {
  font-family: "Noto Sans Devanagari", "Inter", sans-serif;
}
